<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>This is <%= profile.userName %>'s profile</h1>
    <p><%= profile.bio %></p>


    <% cards.forEach(card => { %>
        <section>
            <section class="card" data-color="<%= card.color %>">
                <a href="https://www.<%= card.link %>" target="_blank" class="card-link">
                    <h3><%= card.companyName %></h3>
                </a>
            </section>
        </section>
    <% }) %>

    <% if(user.id == profile._id){ %>
        <a href="/edit/profile/<%= user.id %>">Edit profile</a>
    <% }else{ %>
        <a href="/profile/<%= user.id %>">Go back to your profile</a>
    <% } %>
        <div>
            <a href="/logout">Logout</a>
        </div>

    <script src="/js/main.js"></script>
</body>
</html>