<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your profile</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>This is <%= profile.userName %>'s profile</h1>
    <p><%= profile.bio %><a href="/edit/bio/<%= user.id %>">🖊️</a></p>


    <% cards.forEach(card => { %>
        <section>
            <section class="card" data-color="<%= card.color %>">
                <a href="https://www.<%= card.link %>" target="_blank" class="card-link">
                    <h3><%= card.companyName %></h3>
                </a>
            </section>
    
            <section class="card-edit" data-id="<%= card._id %>" data-position="<%= card.position %>">
                <span class="del big-button">Ｘ</span>
                <% if(card.position > 1) { %>
                    <span class="upArrow big-button">⮝</span>
                <% } %>
                <% if(card.position < cards.length) { %>
                    <span class="downArrow big-button">⮟</span>
                <% } %>   
                <span class="edit"><a href="/edit/card/<%= card._id %>">🖊️</a></span>
            </section>
        </section>
    <% }) %>

    <form action="/profile/createCard" method="POST">
        <input type="text" placeholder="Enter Company Name" name='companyName'>
        <input type="color" name="color">
        <input type="text" placeholder="Enter Link" name="link">
        <input type="submit">
    </form>

    <% if(user.id == profile._id){ %>
        <a href="/profile/<%= user.id %>">Go back to your profile</a>
    <% } %>

    <div>
        <a href="/logout">Logout</a>
    </div>

    <script src="/js/edit-profile.js"></script>
    <script>

    </script>
</body>
</html>